
/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  html{
      font-size: 62.5%;
      background-color: rgba(255, 228, 225, .5);
  }
  main{
      display: flex;
      background-color: rgba(255, 228, 225, .5);
  }
  header{
      text-align: center;
      width: 100vw;
      font-family:'Courier New', Courier, monospace;
      font-size:1.9rem;
      background-color: rgba(255, 228, 225, .5);
      color:midnightblue;
  }
  h1, h2{
      background-color: rgba(255, 228, 225, .5);
      margin:0 auto;
  }
  button{
      font-weight: bold;
      color: midnightblue;
  }
  a{
      text-decoration: none;
      color: hotpink;
  }
  footer{
    text-align: center;
      width: 100vw;
      font-family:'Courier New', Courier, monospace;
      font-size:1.5rem;
      background-color: rgba(255, 228, 225, .5);;
      color:midnightblue;
  }
  span{
      font-size: 1.5rem;
  }
  body{
      height: 100vh;
      width: 100vw;
  }
  img{
    display: block;
    margin: 0 auto;
  }
  ol{
      list-style-type: none;
  }
  li{
      list-style-type: none;
      line-height: 1.25;
  }
  section{
      display: flex;
  }
  div{
      display: hidden;
      align-items: center;
      align-content: center;
      text-align: center;
  }
  div > h2{
      color: magenta;
  }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  .oneToTenContainer{
      flex: 1 17%;
      display: flex;
      flex-flow: column;
      height: 100%;
      width: 25%;
      justify-content: space-between;
      border: 2px solid indigo;
      text-align: center;
      margin-left: 1.5px;
  }
  .one{
    font-size: 6rem;
    color: magenta;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-bottom: 2px solid indigo;
    align-items: stretch;
    padding: 5%;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .two{
    font-size: 4.3rem;
    color: rgb(143, 247, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    border-bottom: 2px solid indigo;
    padding: 5%;
    flex-shrink: 1;
    flex-grow: 1;
}
.three{
    font-size: 4.5rem;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-bottom: 2px solid indigo;
    padding: 5%;
    text-shadow: 4px 4px 4px #000000;
    flex-shrink: 1;
    flex-grow: 1;
}
.four{
    font-size: 7.5rem;
    color: rgb(0, 153, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-stretch: extra-expanded;
    border-bottom: 2px solid indigo;
    padding: 5%;
    flex-shrink: 3;
    flex-grow: 1;
}
.five{
    font-size: 6.1rem;
    color: rgb(4, 168, 127);
    font-family: 'Comic Sans', 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: 500;;
    font-variant: small-caps;
    border-bottom: 2px solid indigo;
    padding: 5%;
    text-shadow: 0 0 3px white, 0 0 5px #050536;
    flex-shrink: 1;
    flex-grow: 1;
}
.six{
    font-size: 5.9rem;
    color: rgb(255, 17, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-bottom: 2px solid indigo;
    padding: 5%;
    flex-shrink: 1;
    flex-grow: 1;
}
.seven{
    font-size: 5rem;
    color: rgb(5, 5, 5);
    font-family: Garamond, Palatino, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-stretch: condensed;
    border-bottom: 2px solid indigo;
    padding: 5%;
    flex-shrink: 1;
    flex-grow: 1;
}
.eight{
    font-size: 8rem;
    color: rgb(230, 147, 233);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, monospace;
    font-weight: 500;
    font-stretch: semi-expanded;
    border-bottom: 2px solid indigo;
    padding: 5%;
    flex-shrink: 3;
    flex-grow: 1;
}
.nine{
    font-size: 6.5rem;
    color: rgb(16, 128, 44);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-variant:small-caps;
    font-stretch: narrower;
    border-bottom: 2px solid indigo;
    padding: 5%;
    flex-shrink: 1;
    flex-grow: 1;
}
.ten{
    font-size: 9rem;
    color: rgb(65, 3, 94);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-stretch: wider;
    font-weight: 800;
    /* font-variant-numeric: slashed-zero; */
    text-shadow: 2px 2px 8px blueviolet;
    padding: 5%;
    flex-shrink: 3;
    flex-grow: 1;
}
.answer{
    font-size: 3.4rem;
}
.answer2{
    font-size: 20px;
    font-weight: bold;
    font-family:cursive;
    font-style:italic;
    color: magenta;
}
.numerology{
    flex: 2 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    line-height: 2;
    border-bottom: 2px solid indigo;
    color:indigo;
    background-color:lavender;
    padding: 10px;
    align-items: center;
    align-content: space-around;
}
.numerology h2{
    background-color: lavender;
}
.calculator{
    line-height: 3;
}
#month, #year, #day, .button{
    width: 30%;
    height: 70%;
}
.otherNumbers{
    flex: 3 33%;
    height:auto;
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    color: white;
    background-color: indigo;
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    align-content: center;
}
.otherNumbers h2{
    background-color: indigo;
    border-bottom: 2px solid lavender;
}
.otherNumbers div{
    line-height: 1.5;
}
.otherNumbers div+ div h2{
    border-bottom: none;
}
#aries, #taurus, #gemini, #cancer, #leo, #virgo, #libra, #scorpio, #saggitarius, #capricorn, #aquarius, #pisces{
    border-bottom: 2px solid lavender;
}
@media screen and (max-width: 500px) {
    *{
        display:flex;
        flex-direction:column;
        align-items: center;
        align-content: center;
        width:100%;
    }
    .oneToTenContainer{
        display:flex;
        flex-direction:column;
        align-items: center;
        align-content: center;
        width:100%;
    }
    .numerology{
        display: block;
        width: 100%;
        height: auto;
        align-content:center;
    }
    section{
        display:block;
    }
    #month, #year, #day, .button{
       display: block;
       height:auto;
       align-content:center;
       align-items: center;
       text-align: center;
    }
}